#card {
  display: grid;
  grid-template-columns: repeat(12, fr);
  grid-template-rows: repeat(8, .25fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 85%;
  padding: 15px;
  border: none;
  background-color: #6672bc;
}

#card #map{
  grid-area: 4 / 7 / 9 / 13;
  height: 400px;
  min-width: 200px;
  border-radius: 50px;
  border: 3px solid #373b86;
}

#titleCard {
  grid-area: 1 / 1 / 4 / 13;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.card-title{
  font-size: 3.5vw;

}

.card-text{
  font-size: 2vw;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-height: 50%;}

#weatherContainer {
  grid-area: 4 / 1 / 9 / 7;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 500px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#movieBorder {
  text-transform: capitalize; 
  width: 85%;
  height:75px;
  background-color: #373b86;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}